<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> MANTENIMIENTO DE PERSONAL </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">
            <div class="row">
                <div class="col-md-4">
                    <label for=""> Sub Contrata</label>
                    <select class="form-control comboBox" formControlName="idEmpresa">
                        <option value="0"> [ -- TODOS-- ]</option>
                        <option [value]="empresa.id_Empresa" *ngFor="let empresa of empresas">{{empresa.razonSocial_Empresa}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for=""> Estado</label>
                    <select class="form-control comboBox" formControlName="idEstado">
                        <!-- <option value="0"> [ --SELECCIONE-- ]</option> -->
                        <!-- <option [value]="estado.id_Estado" *ngFor="let estado of estados">{{estado.descripcion_estado}}</option> -->
                        <option value="1"> Activo </option>
                        <option value="0"> Inactivo </option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-4 text-center">
                    <br>
                    <div class="text-center">
                        <button class="btn btn-primary " (click)="mostrarInformacion()" style="font-size: 13px;">  <i class="fas fa-search"> Mostrar</i> </button>
                        <button class="btn btn-warning ml-2 " (click)="nuevo()" style="font-size: 13px;">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                        <button class="btn btn-success ml-2 " (click)="abrirModal_importar()" style="font-size: 13px;">  <i class="fa fa-plus-circle"> Importar</i> </button>
                    </div>
                </div>
            </div>
        </form>
        <hr>

        <div class="d-flex justify-content-between" style=" margin-top: -15px;">
            <div class="p-2 bd-highlight"> </div>
            <div class="p-2 bd-highlight" style="width: 50%;">
                <input type="text" class="form-control form-control-sm " placeholder="Auto Busquedas" maxlength="50" [(ngModel)]="filtrarMantenimiento">
            </div>
            <div class="p-2 bd-highlight"> </div>
        </div>

        <div class="search-results tableFixHead">
            <table class="table  table-hover table-sm">
                <thead class="theadTable">

                    <tr style="height: 40px !important;">
                        <th scope="col">#</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Dni</th>
                        <th scope="col">Apellidos</th>

                        <th scope="col">Cargo</th>
                        <th scope="col">Estado</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Anular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of personales |  filter: filtrarMantenimiento  ; index as j" [ngStyle]="item.estado == 0 && {'color': 'red'}">
                        <th scope="row"> {{j + 1}} </th>
                        <td>{{item.razonSocial_Empresa}}</td>
                        <td>{{item.nroDocumento_Personal}}</td>
                        <td>{{item.apellidos_Personal}} {{item.nombres_Personal}} </td>
                        <td>{{item.nombreCargo}}</td>
                        <td>{{item.descripcion_estado}}</td>
                        <td class="text-center">
                            <!-- <a class="puntero linkOpcion" (click)="editar(item) " title="editar"> Editar</a> -->
                            <img src="./assets/img/editar.png"   tooltip="Editar" (click)="editar(item)"  >
                        </td>
                        <td class="text-center">
                            <!-- <a class="puntero linkOpcion" (click)="anular(item) " title="anular"> Anular</a> -->
                            <img src="./assets/img/anular.png" *ngIf="item.estado > 0" tooltip="Anular" (click)="anular(item)"  >
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="modal fade " id="modal_mantenimiento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                        </div>
                        <div class=" bd-highlight">
                            <h5 class="headerTitleModal"> REGISTRO DE PERSONAL </h5>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal()">  </i>
                        </div>
                    </div>
                </div>
                <hr style="background-color: white;">

                <form [formGroup]="formParams" style=" margin-top: -15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <label for=""> Sub Contrata</label>
                            <select id="cbo_empresa" class="form-control comboBox" formControlName="id_Empresa">
                                <option value="0"> [ --SELECCIONE-- ]</option>
                                <option [value]="empresa.id_Empresa" *ngFor="let empresa of empresas">{{empresa.razonSocial_Empresa}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label> ID Personal</label>
                            <input type="text" class="form-control form-control-sm disabledForm " formControlName="id_Personal">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for=""> Tipo Doc</label>
                            <select class="form-control comboBox" formControlName="id_TipoDoc">
                                <option value="0"> [ --SELECCIONE-- ]</option>
                                <option [value]="tipo.id_detalleTabla" *ngFor="let tipo of tipoDocumentos">{{tipo.descripcion_grupoTabla}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label> Nro Documento</label>
                            <input type="number" class="form-control form-control-sm  " maxlength="20" formControlName="nroDocumento_Personal">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label> Apellido </label>
                            <input type="text" class="form-control " maxlength="100" formControlName="apellidos_Personal">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label> Nombres </label>
                            <input type="text" class="form-control " maxlength="100" formControlName="nombres_Personal">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <label for=""> Cargo</label>
                            <select class="form-control comboBox" id="cbo_cargo" formControlName="id_Cargo">
                                <option value="0"> [ --SELECCIONE-- ]</option>
                                <option [value]="cargo.id_Cargo" *ngFor="let cargo of cargos">{{cargo.nombreCargo}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label> Estado</label>
                            <select class="form-control comboBox" formControlName="estado">
                                <option value="-1"> [ --SELECCIONE-- ]</option>
                                <option value="1"> Activo </option>
                                <option value="0"> Anulado </option>
                            </select>
                        </div>
                    </div>

                </form>

                <div class="d-flex justify-content-end">
                    <div class="p-2 bd-highlight">
                        <button class="btn btn-success" (click)="saveUpdate()" title="Guardar la informacion"> <i class="fas fa-save"> Grabar</i></button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade " id="modal_importar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="p-3 card ">
                    <div class="d-flex justify-content-between flotante">
                        <div class=" bd-highlight">
                            <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal_importacion()">  </i>
                        </div>
                        <div class=" bd-highlight">
                            <h5 class="headerTitle"> IMPORTAR PERSONAL </h5>
                        </div>
                        <div class=" bd-highlight">
                            <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal_importacion()">  </i>
                        </div>
                    </div>
                </div>


                <form [formGroup]="formParamsFile" class="mt-2">
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label for=""> Empresa</label>
                            <select class="form-control comboBox" formControlName="idEmpresa">
                                <option value="0"> [ --SELECCIONE-- ]</option>
                                <option [value]="empresa.id_Empresa" *ngFor="let empresa of empresas">{{empresa.razonSocial_Empresa}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-6">
                            <div class="botonFile">
                                <input type="file" class="form-control-file btn" formControlName="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="onFileChange($event)" />
                            </div>

                        </div>
                        <div class="col-md-6 mt-1">
                            <div class="center-text ">
                                <button id="btnVer" class="btn btn-sm btn-success disabledForm" (click)="subirArchivo()">  <i class="fas fa-eye"> Ver</i> </button>
                                <button class="btn btn-sm btn-warning ml-2" (click)="blankFile()">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                                <button class="btn btn-sm btn-primary ml-2" (click)="downloadFormat()">  <i class="fas fa-file-download"> Formato</i> </button>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="row">
                    <div class="col-md-12">
                        <div *ngFor="let fil of filesExcel; let i=index">
                            <div class="alert alert-danger text-center" *ngIf="fil.status === 'error'">
                                <h5>Sistemas</h5>
                                <hr>
                                <p><small>{{fil.message}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class=" tableFixHead table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="theadTable">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Nro Documento</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cargo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of importaciones; index as j" style="color: black;">
                                <th scope="row"> {{j + 1}} </th>
                                <td>{{item.empresa}}</td>
                                <td>{{item.nroDocumento}}</td>
                                <td>{{item.apellidos}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.cargo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <!--  -->
                <div class="text-center" *ngIf="importaciones.length >0">
                    <button id="btnGrabar" class="btn  btn-sm  btn-danger disabledForm" (click)="guardar_importacionPersonal()" title="Grabar el personal importadas"> <i class="fas fa-save"></i> Grabar
                    </button>
                </div>
                <br>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarModal_importacion()">Close</button>
            </div>
        </div>
    </div>
</div>