/*  
 label {
     color: #2f60af !important;
     font-size: 11px;
     font-family: tahoma;
     font-weight: 700;
     margin-bottom: 2px;
     margin-bottom: 2px;
 }
 
 hr {
     background-color: cyan;
 }
 
 .form-control,
 input {
     font-family: 'Montserrat', sans-serif !important;
 }
 
 .form-control,
 input {
     font-family: tahoma;
     font-size: 12px;
     height: 28px;
     margin-bottom: 2px;
 }
 
 .puntero {
     cursor: pointer;
 }
 
 .border-left-warning {
     border-left: 5px solid #002f77 !important ;
 }
 
 table thead {
     font-size: 13px;
     text-transform: uppercase;
     font-family: 'Montserrat', sans-serif;
 }
 
 table tbody {
     font-size: 11px;
     color: #746660;
     font-family: 'Montserrat', sans-serif;
 }
 
 .h5,
 h5 {
     font-size: 1rem;
 }
 
 .table .theadTable th {
     background-color: #e20a17;
     color: white;
     border-color: #002f77 !important;
 }
 
 
 .fc-toolbar h2 {
     text-transform: capitalize !important;
 }
 
 .bs-timepicker-field {
     width: 40px !important;
     padding: .375rem .55rem;
 }
 
 
 .botonFile {
     position: relative;
     overflow: hidden;
     display: inline-block;
     width: 98%;
 }
 
 .botonFile .btn {
     border: 2px solid gray;
     color: gray;
     background-color: white;
     padding: 8px 20px;
     border-radius: 8px;
     font-size: 10px;
     font-weight: bold;
 }
 
 
 table {
     border-collapse: separate;
     border-spacing: 0.5px;
 }
 
 @media (min-width: 768px) {
     .modal-lg,
     .modal-xl {
         max-width: 760px !important;
     }
     .navbar-expand-md .navbar-nav .nav-link {
         padding-right: 3.5rem;
         padding-left: .5rem;
     }
 }
 
 @media (min-width: 992px) {
     .modal-lg,
     .modal-xl {
         max-width: 1000px !important;
     }
 }
 
 @media (min-width: 1200px) {
     .modal-lg,
     .modal-xl {
         max-width: 1200px !important;
     }
 }
 
 
 .disabledForm {
     pointer-events: none;
     cursor: default;
     opacity: 0.6;
     background-color: #ecf0f3;
     color: black;
 }
 
 
 #example_info {
     color: #333333;
     font-size: 10px !important;
 }
 
 @media (min-width: 576px) {
     .card-columns {
         column-count: 3;
     }
 }
 
 @media (min-width: 768px) {
     .card-columns {
         column-count: 4;
     }
 }
 
 @media (min-width: 992px) {
     .card-columns {
         column-count: 4;
     }
 }
 
 @media (min-width: 1200px) {
     .card-columns {
         column-count: 5;
     }
 }
 
 .comboBox {
     height: 30px;
 
     margin-bottom: 2px;
     font-size: 11px !important;
     font-family: tahoma;
     font-weight: 500;
 }
 
 
 .botonFile {
     position: relative;
     overflow: hidden;
     display: inline-block;
     width: 98%;
 }
 
 .botonFile .btn {
     border: 2px solid gray;
     color: gray;
     background-color: white;
     padding: 8px 20px;
     border-radius: 8px;
     font-size: 10px;
     font-weight: bold;
 }
 
 .botonFile,
 input {
     height: 40px;
 }
 
 
 .card-header {
     background-color: #002f77 !important;
     color: white;
 }
 
 
 tbody tr:hover {
 
     cursor: pointer;
 }
 
 .linkOpcion {
     color: red !important;
     font-weight: 800;
     text-decoration: underline !important;
 }
 
 .swal2-popup.swal2-toast .swal2-title {
     font-size: 12px !important;
     font-family: 'Montserrat', sans-serif !important;
     color: #0047ba !important;
 }

 .headerTitle {
    color: white;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif !important;
}
 
 .headerTitleModal {
     color: #002f77;
     font-family: 'Montserrat', sans-serif !important;
 }
 
 
 .treeview-container .row-item {
     margin-bottom: -16px !important;
     flex-wrap: nowrap;
 }
 
 
 .select2-container--default .select2-selection--single {
     font-size: 11px !important;
     font-family: 'Montserrat', sans-serif;
 }
 
 .select2-container--default .select2-search--dropdown .select2-search__field {
     height: 30px;
 }
 
 .select2-container--default .select2-results__option--highlighted[aria-selected] {
     height: 30px;
 
     margin-bottom: 2px;
     font-size: 11px !important;
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
 }
 
 .select2-container--default .select2-results__option--highlighted[aria-selected] {
     background-color: #002f77 !important;
     color: white;
 }
 
 .select2-results__option {
 
     margin-bottom: 2px;
     font-size: 11px !important;
     font-family: 'Montserrat', sans-serif;
 }
 
 .select2-container {
     width: 98% !important;
 }
 
 
 .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
     font-size: 10px;
     font-family: 'Montserrat', sans-serif;
 } */


  
 
 body {
    background-color: #c2e1ff;
}

label {
    color: #002f77 !important;
    font-size: 12px;
    font-family:  'Montserrat', sans-serif !important;
    font-weight: 600;
    margin-bottom: 2px;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}
 

hr {
    background-color: #002f77;
}

 

.form-control,
input {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13px!important;
    height: 28px !important;
    margin-bottom: 2px;
}

.puntero {
    cursor: pointer;
}

.border-left-warning {
    border-left: 5px solid #0047ba !important;
}

table thead {
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

table tbody {
    font-size: 11px;
    color: #746660;
    font-family: 'Montserrat', sans-serif;
}

.h5,
h5 {
    font-size: 1rem;
}

.table .theadTable th { 
    font-family: 'Montserrat', sans-serif;
    background-color: #002f77;
    color: white;
    border-color: red;
}
 

.fc-toolbar h2 {
    text-transform: capitalize !important;
}

.bs-timepicker-field {
    width: 40px !important;
    padding: .375rem .55rem;
}
 

.botonFile {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 98%;
}

.botonFile .btn {
    border: 2px solid gray !important;
    color: gray !important;
    background-color: white !important;
    padding: 8px 20px !important;
    border-radius: 8px !important;
    font-size: 10px !important;
    font-weight: bold  !important;
    height: 39px !important;
}
 

table {
    border-collapse: separate;
    border-spacing: 0.5px;
}

@media (min-width: 768px) {
    .modal-lg,
    .modal-xl {
        max-width: 760px !important;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 3.5rem;
        padding-left: .5rem;
    }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 1000px !important;
    }
}

@media (min-width: 1200px) {
    .modal-lg,
    .modal-xl {
        max-width: 1200px !important;
    }
}
 

.disabledForm {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    background-color: #ecf0f3;
    color: black;
}
 

#example_info {
    color: #333333;
    font-size: 10px !important;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

.comboBox {
    height: 30px;
    margin-bottom: 2px;
    font-size: 11px !important;
    font-family: tahoma;
    font-weight: 500;
    border-bottom: 1px solid #6c757d !important;
}
 

.botonFile {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 98%;
}

.botonFile .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}

 

.form-check {
    height: 41px !important;
}
 

.card-header {
    background-color: #dee2e6 !important;
    color: white;
}
 

tbody tr:hover {
 
    cursor: pointer;
}

.linkOpcion {
    color: red !important;
    font-weight: 800;
    text-decoration: underline !important;
}
.headerTitle {
    
    color: #002f77 !important;
    font-family: 'Montserrat', sans-serif !important;
}


.headerTitleModal {
    color: #002f77 !important;
    font-family: 'Montserrat', sans-serif !important;
}
 

.treeview-container .row-item {
    margin-bottom: -16px !important;
    flex-wrap: nowrap;
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif !important;
}

.bg-danger2{
    background-color: #d30500!important; 
}

.bg-primary {
    background-color: #002f77!important;
}

.swal2-title {
    font-family: 'Montserrat', sans-serif !important;
    color: #003575 !important;
    font-weight: 700 !important;
}

.swal2-content {
    font-family: 'Montserrat', sans-serif !important;
    color: #003575 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}


 

 .ng-autocomplete {
   width: 100% !important;
   max-width: 600px !important;
   display: table !important;

}

.autocomplete-container .input-container input {
   font-size: 11px !important;
   font-weight: 500;
}

.autocomplete-container .suggestions-container ul li a {
   font-size: 11px !important;
}
 


.modalHeader{
    background-color: #dee2e6 !important;
}

.modal-footer{
    background-color: #dee2e6 !important;
}

 

input{
    border-top: 0px!important;
    border-left: 0px!important;
    border-right: 0!important;
    border-bottom: 1px solid #39c !important;
    margin-top: 0px!important;
}
 
/* COMBO BUSCADOR SELECT2 */

.select2-container--default .select2-selection--single {
    font-size: 11px !important;
    font-family: 'Montserrat', sans-serif;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    height: 30px;
    font-family: tahoma;
    font-size: 11px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    height: 30px;
 
    margin-bottom: 2px;
    font-size: 11px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
 

.select2-results__option {
 
    margin-bottom: 2px;
    font-size: 11px !important;
    font-family: 'Montserrat', sans-serif;
}

.select2-container {
    width: 98% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 10px !important;
}

.disabledForm {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.resaltarTexto{
    background-color: beige !important;
}

textarea:focus, input:focus, input[type]:focus {
    outline: 0 none !important;
}

 
.form-control:focus, .custom-select:focus, .custom-control-input:focus ~ .custom-control-label::before,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: gray !important;
    box-shadow: 0 0 0 0.2rem rgba(51, 153, 204, 0.3) !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(255,0,0,.10) !important;
}

/* Tabs ngx-bootstrap */
nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white !important;
    background-color: #002f77!important;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link ,a {
    color: #333 !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
    font-size: 12px;
}
 
textarea.form-control {
    height: auto !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
}


fieldset {
    border: 1px solid #d30500 !important;
    margin: 0;
    min-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px; 
    padding-left: 10px!important;
}

legend {
    font-size: 14px !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    width: 60%; 
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
    color: #d30500!important;
    text-decoration: underline;
}

.resaltarTexto {
    font-size: 15px !important;
    font-weight: bold ;
}

.form-control.resaltarTexto {
    font-size: 15px !important;
    font-weight: bold ;
}

.formInput {
    border-top: 0px!important;
    border-left: 0px!important;  
    border-right: 0!important;  
    border-bottom: 1px solid #39c !important; 
    margin-top: 0px!important;
    border: 1px solid #ced4da !important;
}