<div class="card border-left-warning  shadow   ">
    <div class="card-header">
        <h5 class="headerTitle"> UBICACIONES DE SUB CONTRATA Y CUADRILLAS </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro">
            <div class="row" style=" margin-top: -15px;">
                <div class="col-md-2">
                    <label for=""> Servicio</label>
                    <select class="form-control comboBox" formControlName="idServicio">
                        <option value="0"> [ --SELECCIONE-- ]</option>
                        <option [value]="tipo.id_servicio" *ngFor="let tipo of servicios">{{tipo.nombreServicio}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label> fecha Gps </label>
                    <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker [bsConfig]="datepiekerConfig" formControlName="fechaGps">
                </div>
                <div class="col-md-2">
                    <label for=""> Tipo OT</label>
                    <select class="form-control comboBox" formControlName="idTipoOT">
                        <option value="0"> [ --SELECCIONE-- ]</option>
                        <option [value]="tipo.id_detalleTabla" *ngFor="let tipo of tipoOrdenTrabajo">{{tipo.descripcion_grupoTabla}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for=""> Sub Contrata</label>
                    <select class="form-control comboBox" formControlName="idProveedor">
                        <option value="0"> [ --TODOS-- ]</option>
                        <option [value]="item.id_Empresa" *ngFor="let item of proveedor">{{item.razonSocial_Empresa}}</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <div class="mt-4">
                        <button class="btn btn-primary  btn-block " (click)="mostrarInformacionMapa()" style="font-size: 13px;">  <i class="fas fa-search"> Actualizar</i> </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mt-4">
                        <button class="btn btn-warning  btn-block " (click)="mostrarEventos()" style="font-size: 13px;">   Ver Eventos  </button>
                    </div>
                </div>
            </div>
        </form>


        <div class="row mt-3">
            <div id="formMapa" class="col-md-10">

                <div class="row " style="margin-top: -20px;">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="p-2">
                                <button type="button" style="font-size: 10px;" (click)="expandirComprimir(1)" class="btn btn-success">
                                    <i class="fas fa-expand-arrows-alt"> Expandir</i>
                                </button>
                            </div>
                            <div class="p-2">
                                <button type="button" style="font-size: 10px;" (click)="expandirComprimir(3)" class="btn btn-info">
                                    <i class="fas fa-equals"> Igualar</i>
                                </button>
                            </div>
                            <div class="p-2">
                                <button type="button" style="font-size: 10px;" (click)="expandirComprimir(2)" class="btn btn-danger">
                                    <i class="fas fa-compress-arrows-alt"> Comprimir</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="width: 100%; height: 550px;" #mapa id="id_mapa"></div>
                    </div>
                </div>
            </div>

            <div id="formDetalle" class="col-md-2">
                <div class="tableFixHead">
                    <div class=" table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="theadTable thead-dark">
                                <tr>
                                    <th class="text-center">icono</th>
                                    <th class="text-center">Jefe Cuadrilla</th>
                                    <!-- <th class="text-center">Fecha Evento</th> -->
                                    <th class="text-center">Hora Evento</th>
                                    <th class="text-center">Gps</th>
                                    <th class="text-center">Bateria</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of eventosCelular; index as i">
                                    <td>
                                        <img [src]="item.icono" style="height: 30px;width: 30px;" class="card-img-top rounded  " alt="">
                                    </td>
                                    <td>
                                        <div style="width: 200px;">
                                            {{item.JefeCuadrilla}}
                                        </div>
                                    </td>
                                    <!-- <td>{{item.fecha}}</td> -->
                                    <td>{{item.Hora}}</td>
                                    <td *ngIf="item.GPS ==0 " class="text-center puntero"> <i style="color: red;" class="fas fa-ban"></i></td>
                                    <td *ngIf="item.GPS ==1 " class="text-center puntero"> <i style="color: green;" class="fas fa-check-circle"></i> </td>
                                    <td class="text-right">{{item.Bateria}} %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>