<app-navbar>
</app-navbar>
<div class="container-fluid" style="margin-top: 3px;">
    <router-outlet></router-outlet>
</div>
<!-- <br>
<div class="fixed-bottom">
    <footer class="p-1 text-white text-center" style="background-color: black;">
        <label class="text-white "> Servidor Notificaciones :  </label>
        <label class="text-success ml-1" *ngIf="websocketService.socketStatus">  En linea  </label>
        <label class="text-danger ml-1" *ngIf="websocketService.socketStatus==false">  Desconectado  </label>
    </footer>
</div> -->